$white: rgb(255, 251, 239);
$blue: rgb(38, 38, 255);
$red: rgb(255, 49, 49);
$black: rgb(32, 32, 32);
$gray: rgba(46, 46, 46, 0.075);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(50,50,50);
    display: grid;
    place-content: center;
}
button {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 0.25em;
    display: flex;
    flex-direction: column;
    & > span {
        font-size: 1rem;
        text-align: left;
    }
}

.screen {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(235, 235, 235);
    padding: 0.15em;
    margin-top: 2em;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    position: relative;
    z-index: 2;
    &::before {
        // content: "";
        width: 310px;
        height: 55px;
        background-color: $black;
        position: absolute;
        top: -2.5px;
        left: -5px;
        z-index: -1;
    }
    &__memoryError {
        font-size: 1.25em;
        font-weight: 800;
        // background-color: green;
        flex-grow: .5;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        &__memory {
            color: $gray;
            // background-color: red;
            display: flex;
            justify-content: center;
        }
        &__negative {
            width: 100%;
            height: 100%;
        }
        &__error {
            color: $gray;
            // background-color: blue;
            display: flex;
            justify-content: center;
        }
    }
    &__decimal {
        width: 3px;
        height: 4px;
        margin: 43px 1px 5px;
        background-color: $gray;
    }
    &__number {
        flex-grow: 1.5;
        position: relative;
        & * {
            width: 100%;
            height: 100%;
            background-color: $gray;
            position: absolute;
            top: 0;
            left: 0;
        }
        &__top {
            clip-path: polygon(10% 5%, 90% 5%, 75% 20%, 25% 20%);
        }
        &__top-left {
            clip-path: polygon(8% 8%, 22% 22%, 22% 40.5%, 8% 48%);
        }
        &__top-right {
            clip-path: polygon(78% 22%, 92% 8%, 92% 48%, 78% 40.5%);
        }
        &__middle {
            clip-path: polygon(10% 50%, 25% 42.5%, 75% 42.5%, 90% 50%, 75% 57.5%, 25% 57.5%);
        }
        &__bottom-left {
            clip-path: polygon(8% 52%, 22% 59.5%, 22% 78%, 8% 93%);
        }
        &__bottom-right {
            clip-path: polygon(78% 59.5%, 92% 52%, 92% 93%, 78% 78%);
        }
        &__bottom {
            clip-path: polygon(25% 80%, 75% 80%, 90% 95%, 10% 95%);
        }
    }
}
.calculatorTop {
    width: 350px;
    height: 150px;
    background-color: $blue;
    border-radius: 5px 5px 0 0;
}
.calculatorBottom {
    width: 350px;
    height: 425px;
    background-color: $blue;
    border-radius: 0 0 25px 25px;
    border-top: 1px solid;
}
.button__container {
    width: 300px;
    height: 350px;
    background-color: $blue;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid;
    margin: 25px auto auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: stretch;
    gap: 0.75em 0.5em;
}
.red {
    background-color: $red;
        color: $white;
}
.white {
    background-color: $white;
    color: $blue;
}
.black {
    background-color: $black;
}
.span-two {
    grid-row-end: span 2;
}